<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="/www/DependencyInjection/report" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="All">
            <directory>tests/</directory>
        </testsuite>
        <testsuite name="Storage">
            <file>tests/AuthorsStorageTest.php</file>
            <file>tests/CommentariesStorageTest.php</file>
            <file>tests/PostsStorageTest.php</file>
        </testsuite>
        <testsuite name="DB">
            <file>tests/DbTest.php</file>
        </testsuite>
        <testsuite name="Post">
            <file>tests/PostTest.php</file>
            <file>tests/PostsStorageTest.php</file>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
